@model Pokemon

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.Name)</h1>

<div>
    <h4>Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StronglyAttacks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StronglyAttacks)
        </dd>
         </dd>
         
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeaklyAttacks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeaklyAttacks)
        </dd>
         </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeaklyDefends)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeaklyDefends)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StronglyDefends)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StronglyDefends)
        </dd>
         </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
